.gif{
    margin: 5vw auto;
    margin-bottom: 5vw;
    max-width: 1060px;

    display: flex;
}

.gif-left-col, .gif-right-col {
    width: 522px;
    padding:16px;
}


.gif .gif-left-col div,
.gif .gif-right-col div{
    width:490px;
    height:490px;
    margin-bottom:30px;
}

.gif div.shorter{
    height:390px;
}

@media only screen and (max-width: 1130px) {
    .gif{
        max-width: 820px;
    }
    .gif-left-col, .gif-right-col {
        width: 400px;
    }

    .gif .gif-left-col div,
    .gif .gif-right-col div{
        width:370px;
        height:370px;
    }

    .gif div.shorter{
        height:295px;
    }
}

@media only screen and (max-width: 860px) {
    .gif{
        max-width: 620px;
    }
    .gif-left-col, .gif-right-col {
        width: 300px;
    }

    .gif .gif-left-col div,
    .gif .gif-right-col div{
        width:270px;
        height:270px;
    }

    .gif div.shorter{
        height:215px;
    }
}

@media only screen and (max-width: 640px) {
    .gif{
        max-width: 460px;
        flex-direction: column;
    }
    .gif-left-col, .gif-right-col {
        width: 460px;
    }

    .gif .gif-left-col div,
    .gif .gif-right-col div{
        width:430px;
        height:430px;
    }

    .gif div.shorter{
        height:366px;
    }
}

@media only screen and (max-width: 460px) {
    .gif{
        max-width: 375px;
        flex-direction: column;
    }
    .gif-left-col, .gif-right-col {
        width: 375px;
    }

    .gif .gif-left-col div,
    .gif .gif-right-col div{
        width:345px;
        height:345px;
    }

    .gif div.shorter{
        height:275px;
    }
}

@media only screen and (max-width: 320px) {
    .gif{
        max-width: 300px;
        flex-direction: column;
    }
    .gif-left-col, .gif-right-col {
        width: 300px;
    }

    .gif .gif-left-col div,
    .gif .gif-right-col div{
        width:270px;
        height:270px;
    }

    .gif div.shorter{
        height:215px;
    }
}