.routine{
    max-width:1500px;
    margin: 0 auto;
}

.routine .carousel img{
    width: auto;
    height: 100%;
}

.routine .carousel{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-top:40%;
    margin: 0px 30px;
}
.routine .carousel .image-group{
    position: absolute;
    top: 0;
    transition: left 1s;
    height: 100%;
}

.routine .carousel .image-group .image-row{
    display:flex;
    height:100%;
}
.routine .carousel .image{
    display: block;
    height: 100%;
} 