@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

html body {
  margin: 2.7vw auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  letter-spacing: 0.32px;
  line-height: 28.8px;
  margin-bottom: 78.95px;
  margin-left: 39.5px;
  margin-right: 39.5px;
  margin-top: 47.37px;
  max-width: 1500px;
  padding-left: 78.95px;
  padding-right: 78.95px;
  color: #e0e0e0;
}